In [2]:
import pandas as pd
df = pd.read_csv('output_lattes\curriculos_processados.csv')
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:2: SyntaxWarning: invalid escape sequence '\c'
C:\Users\pedro\AppData\Local\Temp\ipykernel_3004\2119319475.py:2: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv('output_lattes\curriculos_processados.csv')

,numero_identificador,nome_completo,pais_nascimento,uf_nascimento,cidade_nascimento,data_atualizacao,tipo_formacao,codigo_instituicao,codigo_curso,codigo_area_curso,...,instituicao_pais,curso_grande_area,curso_area,grande_area_formacao,area_formacao,regiao_nascimento,instituicao_regiao,grande_area_definitivo,area_definitivo,genero
0,5794097038,Natanael de Carvalho Souza Rosa,Brasil,MG,Bom Despacho,20062019,MESTRADO,063100000000,60017295.0,60100001.0,...,BRA,CIENCIAS_SOCIAIS_APLICADAS,Direito,NaN,NaN,Sudeste,Sudeste,CIENCIAS_SOCIAIS_APLICADAS,Direito,M
1,21871668960,Salomão Roman da Silveira,Brasil,RS,Bento Gonçalves,18062012,MESTRADO,006700000002,33021317.0,30200008.0,...,BRA,ENGENHARIAS,Engenharia de Minas,NaN,NaN,Sul,Sudeste,ENGENHARIAS,Engenharia de Minas,M
2,21871668960,Salomão Roman da Silveira,Brasil,RS,Bento Gonçalves,18062012,DOUTORADO,J8WM00000006,NaN,NaN,...,ESP,NaN,NaN,NaN,NaN,Sul,NaN,NaN,NaN,M
3,28008893431,Verônica Palmiro da Silva e Lima,Brasil,MT,CÁCERES,18032021,MESTRADO,885300000006,60784687.0,40000001.0,...,BRA,CIENCIAS_DA_SAUDE,NaN,NaN,NaN,Centro-Oeste,Centro-Oeste,CIENCIAS_DA_SAUDE,NaN,F
4,36350356979,Maura da Silva Costa Furtado,Brasil,PA,Capanema,10082023,MESTRADO,004400000000,90000003.0,90000003.0,...,BRA,CIENCIAS_EXATAS_E_DA_TERRA,Probabilidade e Estatística,NaN,NaN,Norte,Norte,CIENCIAS_EXATAS_E_DA_TERRA,Probabilidade e Estatística,F

In [30]:
df.drop(columns=['cidade_nascimento',
'codigo_instituicao',
'codigo_curso',
'codigo_area_curso',
'curso_grande_area',
'curso_area',
'grande_area_formacao',
'area_formacao'], inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16651 entries, 0 to 16650
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   numero_identificador    16651 non-null  int64
 1   nome_completo           16651 non-null  object
 2   pais_nascimento         16651 non-null  object
 3   uf_nascimento           14533 non-null  object
 4   data_atualizacao        16651 non-null  int64
 5   tipo_formacao           16651 non-null  object
 6   status_curso            16650 non-null  object
 7   ano_inicio              16642 non-null  float64
 8   ano_conclusao           15070 non-null  float64
 9   flag_bolsa              16595 non-null  object
 10  instituicao_uf          14825 non-null  object
 11  instituicao_pais        16278 non-null  object
 12  regiao_nascimento       14533 non-null  object
 13  instituicao_regiao      14823 non-null  object
 14  grande_area_definitivo  16452 non-null  object
 15  area_definitivo         15563 non-null  object
 16  genero                  16320 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 2.2+ MB

In [32]:
df = df.rename(columns={
    'grande_area_definitivo': 'grande_area',
    'area_definitivo': 'area',
    'instituicao_uf': 'uf_instituicao',
    'instituicao_regiao': 'regiao_instituicao',
    'instituicao_pais': 'pais_instituicao'
})

In [33]:
colunas_ordenadas = [
    'numero_identificador', 'genero', 'data_atualizacao',
    'uf_nascimento', 'regiao_nascimento', 'pais_nascimento',
    'tipo_formacao', 'status_curso', 'ano_inicio', 'ano_conclusao',
    'grande_area', 'area', 'flag_bolsa',
    'uf_instituicao', 'regiao_instituicao', 'pais_instituicao'
]

In [34]:
df = df[colunas_ordenadas]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16651 entries, 0 to 16650
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   numero_identificador  16651 non-null  int64
 1   genero                16320 non-null  object
 2   data_atualizacao      16651 non-null  int64
 3   uf_nascimento         14533 non-null  object
 4   regiao_nascimento     14533 non-null  object
 5   pais_nascimento       16651 non-null  object
 6   tipo_formacao         16651 non-null  object
 7   status_curso          16650 non-null  object
 8   ano_inicio            16642 non-null  float64
 9   ano_conclusao         15070 non-null  float64
 10  grande_area           16452 non-null  object
 11  area                  15563 non-null  object
 12  flag_bolsa            16595 non-null  object
 13  uf_instituicao        14825 non-null  object
 14  regiao_instituicao    14823 non-null  object
 15  pais_instituicao      16278 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 2.0+ MB

In [35]:
df['flag_bolsa'] = df['flag_bolsa'].apply(lambda x: True if str(x).lower() == 'sim' else False)
df['data_atualizacao'] = pd.to_datetime(df['data_atualizacao'], format='%d%m%Y', errors='coerce')
df['ano_inicio'] = df['ano_inicio'].astype('Int64')
df['ano_conclusao'] = df['ano_conclusao'].astype('Int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16651 entries, 0 to 16650
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   numero_identificador  16651 non-null  int64
 1   genero                16320 non-null  object
 2   data_atualizacao      16571 non-null  datetime64[ns]
 3   uf_nascimento         14533 non-null  object
 4   regiao_nascimento     14533 non-null  object
 5   pais_nascimento       16651 non-null  object
 6   tipo_formacao         16651 non-null  object
 7   status_curso          16650 non-null  object
 8   ano_inicio            16642 non-null  Int64
 9   ano_conclusao         15070 non-null  Int64
 10  grande_area           16452 non-null  object
 11  area                  15563 non-null  object
 12  flag_bolsa            16651 non-null  bool
 13  uf_instituicao        14825 non-null  object
 14  regiao_instituicao    14823 non-null  object
 15  pais_instituicao      16278 non-null  object
dtypes: Int64(2), bool(1), datetime64[ns](1), int64(1), object(11)
memory usage: 2.0+ MB

In [36]:
df.head()

,numero_identificador,genero,data_atualizacao,uf_nascimento,regiao_nascimento,pais_nascimento,tipo_formacao,status_curso,ano_inicio,ano_conclusao,grande_area,area,flag_bolsa,uf_instituicao,regiao_instituicao,pais_instituicao
0,5794097038,M,2019-06-20,MG,Sudeste,Brasil,MESTRADO,CONCLUIDO,2016,2017,CIENCIAS_SOCIAIS_APLICADAS,Direito,False,MG,Sudeste,BRA
1,21871668960,M,2012-06-18,RS,Sul,Brasil,MESTRADO,CONCLUIDO,2003,2003,ENGENHARIAS,Engenharia de Minas,False,SP,Sudeste,BRA
2,21871668960,M,2012-06-18,RS,Sul,Brasil,DOUTORADO,EM_ANDAMENTO,2006,<NA>,NaN,NaN,False,NaN,NaN,ESP
3,28008893431,F,2021-03-18,MT,Centro-Oeste,Brasil,MESTRADO,EM_ANDAMENTO,2019,<NA>,CIENCIAS_DA_SAUDE,NaN,False,MT,Centro-Oeste,BRA
4,36350356979,F,2023-08-10,PA,Norte,Brasil,MESTRADO,CONCLUIDO,2009,2011,CIENCIAS_EXATAS_E_DA_TERRA,Probabilidade e Estatística,False,PA,Norte,BRA

In [37]:
df.loc[df['genero'].isna(), 'pais_nascimento'].value_counts()

pais_nascimento
Brasil            239
Índia              11
Paquistão          10
Cuba                5
Estados Unidos      5
Irã                 5
Colômbia            4
Holanda             3
Romênia             3
Alemanha            3
Nigéria             3
Polônia             3
Japão               2
França              2
Peru                2
Marrocos            2
Argentina           2
Nepal               2
Bolívia             2
Iraque              2
Mali                2
Inglaterra          2
Haiti               2
Ucrânia             1
Bulgária            1
Sudão               1
Suécia              1
Espanha             1
Venezuela           1
Zaire               1
Egito               1
Turquia             1
Líbia               1
Etiópia             1
Mianmar             1
Rússia              1
Dinamarca           1
Grã-Bretanha        1
Name: count, dtype: int64

In [38]:
df.loc[df['uf_nascimento'].isna(), 'pais_nascimento'].value_counts()

pais_nascimento
Brasil                  1173
Colômbia                 102
Peru                      81
Portugal                  76
França                    62
                        ...
Zaire                      1
República Dominicana       1
RD Congo                   1
Lituânia                   1
República Tcheca           1
Name: count, Length: 76, dtype: int64

In [39]:
df.loc[df['uf_instituicao'].isna(), 'pais_instituicao'].value_counts()

pais_instituicao
POR    230
EUA    221
FRA    150
ESP    146
ING     90
      ...
ANG      1
BGD      1
PAN      1
MLT      1
FIN      1
Name: count, Length: 66, dtype: int64

In [40]:
df['ano_atualizacao'] = df['data_atualizacao'].dt.year
df['ano_atualizacao'].value_counts().sort_index()

ano_atualizacao
1998.0       2
1999.0       7
2000.0      27
2001.0      17
2002.0      56
2003.0      66
2004.0      44
2005.0      54
2006.0     112
2007.0      89
2008.0     110
2009.0     140
2010.0     164
2011.0     199
2012.0     188
2013.0     287
2014.0     331
2015.0     393
2016.0     437
2017.0     564
2018.0     715
2019.0     973
2020.0    1144
2021.0    1904
2022.0    1805
2023.0    6743
Name: count, dtype: int64

In [3]:
df['status_curso'].value_counts()

status_curso
CONCLUIDO       14757
EM_ANDAMENTO     1580
INCOMPLETO        313
Name: count, dtype: int64