In [2]:
import pandas as pd
df = pd.read_csv('output_lattes/curriculos_processados.csv')
df.head()

,numero_identificador,genero,data_atualizacao,uf_nascimento,capital_nascimento,regiao_nascimento,pais_nascimento,tipo_formacao,curso_concluido,ano_inicio,ano_conclusao,grande_area,area,flag_bolsa,sigla_instituicao,uf_instituicao,regiao_instituicao,pais_instituicao
0,5794097038,M,2019-06-20,MG,False,Sudeste,Brasil,MESTRADO,True,2016.0,2017.0,CIENCIAS_SOCIAIS_APLICADAS,Direito,False,FMC,MG,Sudeste,Brasil
1,21871668960,M,2012-06-18,RS,False,Sul,Brasil,MESTRADO,True,2003.0,2003.0,ENGENHARIAS,Engenharia de Minas,False,USP,SP,Sudeste,Brasil
2,21871668960,M,2012-06-18,RS,False,Sul,Brasil,DOUTORADO,False,2006.0,NaN,NaN,NaN,False,UJAEN,NaN,NaN,Espanha
3,28008893431,F,2021-03-18,MT,False,Centro-Oeste,Brasil,MESTRADO,False,2019.0,NaN,CIENCIAS_DA_SAUDE,NaN,False,UNIC,MT,Centro-Oeste,Brasil
4,36350356979,F,2023-08-10,PA,False,Norte,Brasil,MESTRADO,True,2009.0,2011.0,CIENCIAS_EXATAS_E_DA_TERRA,Probabilidade e Estatística,False,UFPA,PA,Norte,Brasil

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1612727 entries, 0 to 1612726
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   numero_identificador  1612727 non-null  int64
 1   genero                1583963 non-null  str
 2   data_atualizacao      1612712 non-null  str
 3   uf_nascimento         1412488 non-null  str
 4   capital_nascimento    1612727 non-null  bool
 5   regiao_nascimento     1412438 non-null  str
 6   pais_nascimento       1612726 non-null  str
 7   tipo_formacao         1612727 non-null  str
 8   curso_concluido       1612727 non-null  bool
 9   ano_inicio            1612024 non-null  float64
 10  ano_conclusao         1463202 non-null  float64
 11  grande_area           1593463 non-null  str
 12  area                  1502970 non-null  str
 13  flag_bolsa            1612727 non-null  bool
 14  sigla_instituicao     1581751 non-null  str
 15  uf_instituicao        1441494 non-null  str
 16  regiao_instituicao    1441492 non-null  str
 17  pais_instituicao      1582510 non-null  str
dtypes: bool(3), float64(2), int64(1), str(12)
memory usage: 319.3 MB

In [5]:
df['data_atualizacao'] = pd.to_datetime(df['data_atualizacao'])
df['ano_inicio'] = df['ano_inicio'].astype('Int64')
df['ano_conclusao'] = df['ano_conclusao'].astype('Int64')
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1612727 entries, 0 to 1612726
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   numero_identificador  1612727 non-null  int64
 1   genero                1583963 non-null  str
 2   data_atualizacao      1612712 non-null  datetime64[us]
 3   uf_nascimento         1412488 non-null  str
 4   capital_nascimento    1612727 non-null  bool
 5   regiao_nascimento     1412438 non-null  str
 6   pais_nascimento       1612726 non-null  str
 7   tipo_formacao         1612727 non-null  str
 8   curso_concluido       1612727 non-null  bool
 9   ano_inicio            1612024 non-null  Int64
 10  ano_conclusao         1463202 non-null  Int64
 11  grande_area           1593463 non-null  str
 12  area                  1502970 non-null  str
 13  flag_bolsa            1612727 non-null  bool
 14  sigla_instituicao     1581751 non-null  str
 15  uf_instituicao        1441494 non-null  str
 16  regiao_instituicao    1441492 non-null  str
 17  pais_instituicao      1582510 non-null  str
dtypes: Int64(2), bool(3), datetime64[us](1), int64(1), str(11)
memory usage: 306.8 MB

In [6]:
df.head()

,numero_identificador,genero,data_atualizacao,uf_nascimento,capital_nascimento,regiao_nascimento,pais_nascimento,tipo_formacao,curso_concluido,ano_inicio,ano_conclusao,grande_area,area,flag_bolsa,sigla_instituicao,uf_instituicao,regiao_instituicao,pais_instituicao
0,5794097038,M,2019-06-20,MG,False,Sudeste,Brasil,MESTRADO,True,2016,2017,CIENCIAS_SOCIAIS_APLICADAS,Direito,False,FMC,MG,Sudeste,Brasil
1,21871668960,M,2012-06-18,RS,False,Sul,Brasil,MESTRADO,True,2003,2003,ENGENHARIAS,Engenharia de Minas,False,USP,SP,Sudeste,Brasil
2,21871668960,M,2012-06-18,RS,False,Sul,Brasil,DOUTORADO,False,2006,<NA>,NaN,NaN,False,UJAEN,NaN,NaN,Espanha
3,28008893431,F,2021-03-18,MT,False,Centro-Oeste,Brasil,MESTRADO,False,2019,<NA>,CIENCIAS_DA_SAUDE,NaN,False,UNIC,MT,Centro-Oeste,Brasil
4,36350356979,F,2023-08-10,PA,False,Norte,Brasil,MESTRADO,True,2009,2011,CIENCIAS_EXATAS_E_DA_TERRA,Probabilidade e Estatística,False,UFPA,PA,Norte,Brasil

In [11]:
df.isnull().sum()

numero_identificador         0
genero                   28764
data_atualizacao            15
uf_nascimento           200239
capital_nascimento           0
regiao_nascimento       200289
pais_nascimento              1
tipo_formacao                0
curso_concluido              0
ano_inicio                 703
ano_conclusao           149525
grande_area              19264
area                    109757
flag_bolsa                   0
sigla_instituicao        30976
uf_instituicao          171233
regiao_instituicao      171235
pais_instituicao         30217
ano_atualizacao             15
dtype: int64

In [12]:
df_erros = df[df['data_atualizacao'].isnull()]
df_erros.head()

,numero_identificador,genero,data_atualizacao,uf_nascimento,capital_nascimento,regiao_nascimento,pais_nascimento,tipo_formacao,curso_concluido,ano_inicio,ano_conclusao,grande_area,area,flag_bolsa,sigla_instituicao,uf_instituicao,regiao_instituicao,pais_instituicao,ano_atualizacao
17083,102366877185750,M,NaT,RJ,True,Sudeste,Brasil,MESTRADO,True,1986,1992,CIENCIAS_EXATAS_E_DA_TERRA,Geociências,False,IGEOUFRJ,RJ,Sudeste,Brasil,NaN
53852,321888053496700,M,NaT,SP,False,Sudeste,Brasil,MESTRADO,True,1979,1984,CIENCIAS_EXATAS_E_DA_TERRA,Química,False,USPSAOCARLOS,SP,Sudeste,Brasil,NaN
53853,321888053496700,M,NaT,SP,False,Sudeste,Brasil,DOUTORADO,False,2021,<NA>,ENGENHARIAS,NaN,False,INPI,RJ,Sudeste,Brasil,NaN
408824,2490905716611393,F,NaT,SP,True,Sudeste,Brasil,MESTRADO,True,2000,2002,CIENCIAS_DA_SAUDE,Odontologia,True,UNICAMP,SP,Sudeste,Brasil,NaN
728167,4444481858022501,M,NaT,SP,True,Sudeste,Brasil,MESTRADO,True,1980,1985,CIENCIAS_HUMANAS,Sociologia,True,PUCSP,SP,Sudeste,Brasil,NaN

In [7]:
df.loc[df['genero'].isna(), 'pais_nascimento'].value_counts()

pais_nascimento
Brasil             19526
Índia               1336
Paquistão            872
Cuba                 589
Irã                  465
                   ...
Ilhas Faroe            2
Guiana Francesa        1
Camboja                1
Laos                   1
Djibuti                1
Name: count, Length: 147, dtype: int64

In [8]:
df.loc[df['uf_nascimento'].isna(), 'pais_nascimento'].value_counts()

pais_nascimento
Brasil        113782
Colômbia        9725
Peru            6980
Portugal        6530
Argentina       5576
               ...
Montenegro         1
Butão              1
Eritréa            1
Palau              1
Djibuti            1
Name: count, Length: 190, dtype: int64

In [9]:
df.loc[df['uf_instituicao'].isna(), 'pais_instituicao'].value_counts()

pais_instituicao
Portugal              21107
Estados Unidos        20982
Espanha               15784
França                14582
Inglaterra             7645
                      ...
Serra Leoa                1
Mônaco                    1
Bahamas                   1
Granada                   1
Polinésia Francesa        1
Name: count, Length: 168, dtype: int64

In [10]:
df['ano_atualizacao'] = df['data_atualizacao'].dt.year
df['ano_atualizacao'].value_counts().sort_index()

ano_atualizacao
1997.0        30
1998.0       160
1999.0       606
2000.0      2213
2001.0      1508
2002.0      4139
2003.0      3671
2004.0      4823
2005.0      6036
2006.0      8568
2007.0      9778
2008.0     11299
2009.0     14011
2010.0     16755
2011.0     18445
2012.0     21837
2013.0     26066
2014.0     32591
2015.0     36803
2016.0     42304
2017.0     53139
2018.0     66821
2019.0     91026
2020.0    110477
2021.0    180283
2022.0    209651
2023.0    639672
Name: count, dtype: int64